.esc {
	position: relative;
	clear: both;
	width: 100%;
}
/********************************
 * generic als elements styling
 ********************************/
.als-container h3 {
	color:#0092D4;
	text-transform:capitalize;
	margin: 0px 0px 20px 21px;
	font-family: 'open_sansregular';
}

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}
.scroller{width:900px !important; overflow:hidden; margin: 30px 30px 30px 40px;}
.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0 auto 0 25px; width:850px!important
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}
#lista1 {
	/*margin: 60px auto 80px auto;*/
	margin:0;
	padding:0;
}

#lista1 .als-item {
	margin: 0px 15px;
	 border:1px solid #E7E7E7; padding:5px; overflow:hidden
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px; height:75px!important
	
}

#lista1 .als-prev, #lista1 .als-next {
	top: 85px;
	width: 15px;
	height: 22px;
}
#lista1 .als-prev {	left: 25px}

#lista1 .als-next {right: 25px}

